<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul{
            color: aliceblue;
            font-size: 30px;
        }
    </style>
</head>
<body>
   <h3>
    Here are certain rules to follow
   </h3>
   <h2>
    <ul>
        <li>Rule 1:dont copy</li>
        <li>Rule 2:dont talk</li>
        <li>Rule 3:dont use others</li>
        <li>Rule 4:dont copy</li>
        
    </ul>
   </h2>
    {% endblock %}
</body>
</html>